<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WpfFlashDrive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <!-- WpfRlashDrve Settings -->
  <appSettings>
    <add key="Icon_Main" value="Images\icon.ico"/>
    <add key="ImgSettings" value="Images\gear-icon.png"/>
    <add key="ImgScan" value="Images\loading-icon.png"/>
    <add key="ImgStatistics" value="Images\trends-icon.png"/>
    <add key="ImgHide" value="Images\play-icon.png"/>
  </appSettings>
  <!-- WpfRlashDrve Settings -->
  <userSettings>
    <WpfFlashDrive.Properties.Settings>
      <setting name="DirectoryForWatcing" serializeAs="String">
        <value />
      </setting>
      <setting name="TypeOfScan" serializeAs="String">
        <value />
      </setting>
      <setting name="DisabledDrives" serializeAs="String">
        <value />
      </setting>
    </WpfFlashDrive.Properties.Settings>
  </userSettings>
</configuration>